html {
  background-color: rgba(43, 93, 202, 0.79);
}

.app-container {
  background-color: rgba(43, 93, 202, 0.79);
  color: white;
}

.app-container i {
  font-size: 20px;
}

a {
  text-decoration: none;
}

p {
  color: white;
  font-size: 20px;
  font-family: "Roboto", Sans-Serif;
}

button {
  width: 50px;
  height: 20px;
}

i:hover {
  cursor: pointer;
  color: grey;
}


